
<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lorem ipsum</title>
    <meta name="description" content="Lorem ipsum">
    <meta name="author" content="Robson Silva">
    <link rel="'icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'base:home' %}">Lorem ipsum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-4 p-4 jumbotron rounded">
                <h2>
                    Lorem ipsum
                </h2>
                <h4 class="mt-4">
                    Entre na fila de espera.
                </h4>
                <form class="row gy-2 gx-3 align-items-center validate"
                      action="https://hotmail.us14.list-manage.com/subscribe/post?u=5a0e528f797121a4011717cba&amp;id=a8f81af40e"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"
                      novalidate>
                    <div class="col-auto">
                        <label class="visually-hidden" for="mce-EMAIL">Email</label>
                        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL"
                               placeholder="exemplo@email.com">
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="mce-FNAME">Primeiro Nome</label>
                        <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                               placeholder="Primeiro Nome">
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text"
                               name="b_5a0e528f797121a4011717cba_a8f81af40e"
                               tabindex="-1"
                               value="">
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                               class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Mais detalhee
                </h5>
                <div class="card-body">
                    <p class="card-text">

                        <img src="{% static 'img/Lorem.png' %}" alt="Lorem ipsum"
                             class="img-thumbnail rounded float-start me-3"/>
                        "<a href="https://pt.wikipedia.org/wiki/Lorem_ipsum">Lorem ipsum</a>
                        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
                <div class="card-footer">
                    Card footer
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                +55 11 123-456-789
                <br>
                <a href="mailto:robson_lsc@hotmail.com">robson_lsc@hotmail.com</a>
            </div>
        </div>
    </div>
    <div class="rights">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Robson Silva. Todos direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>